.container {
  padding: 0 2rem;
}

.logo {
  background: url('/logo.png') no-repeat center;
  -webkit-background-size: 40vh;
  -moz-background-size: 40vh;
  -o-background-size: 40vh; 
  background-size: 40vh;
  background-size: contain;
  min-height: 36vh;
  min-width: 20vw;
  max-height: 10vh;
  max-width: 100vw;
  position: relative;
  top: -7vh;
}

.logoB {   /*THIS ONE IS FOR THE FOOTER */
  background: url('/logo.png') no-repeat center;
  -webkit-background-size: 15vh;
  -moz-background-size: 15vh;
  -o-background-size: 15vh; 
  background-size: 15vh;
  background-size: contain;
  min-height: 15vh;
  min-width: 15vw;
  max-height: 15vh;
  max-width: 15vw;
  position: relative;
  top: 5vh

}
.backgroundImage {
  background: url('/home-image.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 45vh;
  padding-bottom: 12vh;
  
}

.aloneText {
  text-align: center;
  max-width: 75%;
}

.question { /*Delete this if question task failed */
  text-align: left;
  font-size: 1.2rem;
  max-width: 50vw;
  inline-size: 250vw;
  overflow-wrap: break-word;


}

.listStylePosition {
  font-size: 1.6rem;
  text-align: center;
  color: darkslategrey;
  max-width: 50vw;
}

.bulletText {
  text-align: left;
  max-width: 75%;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer { /*Might Be Responsible For Glitch In Footer */
  display: flex;
  /*flex: 1; */                           /*IF NEEDED, REMOVE COMMENT */
  padding: 0rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description { /*Positions Design smarter text */
  /*margin: 0rem 0; */ 
  line-height: 1;
  font-size: 1.3rem;
  position: relative;
  top: -13vh;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
